* {
  font-family: 'Montserrat';
}

/* To hide vertical scrollbar */
body {
  overflow-x: hidden;
  background-color: #130D25;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Landing Page Animation */
.animation {
  opacity: 0;
  transform: translateY(50px);
  transition: all 2.5s ease;
}

.animation.show {
  opacity: 1;
  transform: translateY(0);
}

.animation-on-load {
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1.5s ease, opacity 1.5s ease;
}

/* navbar */

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 18px;
  padding: 10px 35px 35px 10px;

}

.navbar-light .navbar-brand {
  color: white;
  font-size: 20px;
  padding: 10px 35px 35px 10px;

}

.navbar {
  text-shadow: 2px 2px 4px #000000;
  padding-top: 50px;
}

.nav-link:hover {
  text-decoration: underline;
}

.btn-sign-up {
  background-color: #FE724C;
  color: white;
  border-radius: 30px;
  margin-top: 0px;
  width: 150px;
  border: none;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-align: center;

}

.btn-sign-up:hover {
  background-color: #f83701;
}

/* header */

header {
  height: 100vh;
  background-image: url('images/banner-img.png');
  background-size: cover;

}

.header-text {
  color: #fff;
  margin-top: 100px;
  text-align: justify;
}

.header-text h1 {
  font-size: 60px;
  padding-bottom: 50px;
  font-weight: 900;
  margin-right: 100px;
  margin-left: 120px;
}

.header-text h3 {
  font-size: 20px;
  font-weight: lighter;
  margin-right: 100px;
  margin-left: 120px;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 1080px) {

  .header-text h1 {
    font-size: 50px;
    margin: 30px;
  }

  .header-text h3 {
    font-size: 20px;
    margin: 30px;
  }



}

@media screen and (max-width: 844px) {

  .header-text h1 {
    font-size: 50px;
    margin: 20px;
    text-align: center;
  }

  .header-text h3 {
    display: none;
  }

  header {
    height: 90vh;
  }

}

/* About Us */

#aboutUs {
  margin-top: 200px;
}

.about-us-card {
  background-color: #fff;
  height: 500px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin: auto;
}

.img-about-us {
  border-radius: 30px 0 0 30px;
}

.txt-about-us {
  padding: 60px;
}

.bullet {
  position: absolute;
}

.card-title {
  font-size: 30px;
  margin-bottom: 40px;
  margin-left: 30px;
}

.card-info {
  font-size: 20px;
  text-align: justify;
  margin-left: 30px;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 1134px) {
  .img-about-us {
    display: none;
  }

  .card-info {
    font-size: 20px;

  }

}


@media screen and (max-width: 713px) {
  #aboutUs {
    margin-top: 100px;
  }

  .about-us-card {
    height: 550px;
  }

  .img-about-us {
    display: none;
  }

  .card-info {
    font-size: 18px;

  }


}

@media screen and (max-width: 572px) {
  .card-info {
    font-size: 15px;

  }


}

/* Menu */

#menu {
  position: relative;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-info {
  margin-top: 140px;
  padding-left: 200px;
}

.menu-title h5 {
  position: absolute;
  right: 110px;
  top: 80px;
  font-size: 30px;
}

.bullet-menu {
  position: absolute;
  right: 80px;
  top: 80px;
}

.food-icon {
  position: absolute;
  left: 225px;
}

.dish-name {
  font-size: 50px;
}


.menu-card {
  height: 350px;
  /*change yq ori 400 -> 270*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 200px; */
  width: 200px;
  /*change yq*/
  background: #fff;
  border-radius: 15px 50px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 85px 100px 50px 100px;
  /*change yq*/
  transition: all 0.4s;
  padding-top: 50px;

}

.menu-outer {
  align-items: center;
  /*change yq*/
  position: relative;
  transition: all 0.4s;
  width: 300px;
}

/* changed from card to outer */
.menu-outer:hover {
  transform: scale(1.15);
  cursor: pointer;
}


.menu-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  /*change yq*/
  margin-left: 120px;
  /*change yq*/
  z-index: 1;
}


.menu-img {
  height: 100%;
  width: auto;
  border-radius: 50%;
  object-fit: cover;
}

.menu-name {
  font-size: 15px;
  margin-top: 24px;
}

.menu-details {
  font-size: 10px;
}

.carousell-swiper {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.slide-container {
  display: flex;
  flex-direction: row;
  padding: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.slide-container::-webkit-scrollbar {
  display: none;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #130D25 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);

}

.nxt-btn {
  right: 0;

}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.menu-more a {
  position: absolute;
  font-size: 15px;
  color: floralwhite;
  font-weight: bold;
  bottom: 55px;
  right: 200px;
  text-decoration: none;
}

.menu-more:hover {
  cursor: pointer;
}

.more-menu-icon {
  position: absolute;
  bottom: 56px;
  right: 170px;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 1445px) {
  .menu-info {
    margin: 20px;
    margin-top: 140px;
    padding: 50px;

  }

}

@media screen and (max-width: 1150px) {

  .food-icon {
    display: none;
  }

  .img-subtract {
    display: none;
  }

  .menu-info {
    margin: 130px 160px 0px 160px;
    padding: 50px;

  }

}

@media screen and (max-width: 980px) {
  .menu-info {
    margin: 130px 160px 0px 160px;
    padding: 50px;

  }

}

@media screen and (max-width: 844px) {

  #menu {
    margin-top: 40px;
  }

  .menu-info {
    display: none;

  }

  .slide-container {
    margin-top: 50px;
  }

  .menu-title h5 {
    font-size: 25px;
    top: 30px;
  }

  .bullet-menu {
    top: 30px;
  }

  .menu-more a {
    bottom: 40px;
  }

  .more-menu-icon {
    bottom: 40px;
  }

}

/* Book Now */
.book-now {
  height: 650px;
  background-image: url(../images/book-now.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.txt-book-now {
  color: #fff;
  padding: 10px;
}

.reservation {
  font-family: 'Italianno';
  font-size: 80px;
}

.book-a-table {
  font-size: 80px;

}

.btn-book-now {
  border-radius: 30px;
  border: 2px solid white;
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
}

@media screen and (max-width: 844px) {
  .book-now {
    text-align: center;
  }

  .reservation {
    font-family: 'Italianno';
    font-size: 50px;
  }

  .book-a-table {
    font-size: 50px;

  }

}

@media screen and (max-width: 1111px) {
  .book-now {
    text-align: center;
  }

  .reservation {
    font-family: 'Italianno';
    font-size: 50px;
  }

  .book-a-table {
    font-size: 50px;

  }

}

/* Footer */
.txt-footer {
  font-size: 12px;
}

#admin-login {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 844px) {
  footer {
    margin: 10px;
  }
}