<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS (hosted online)-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="../../styles/admin_style.css" />
    <link rel="stylesheet" href="../../styles/adminViewTable_style.css" />


    <title>Admin Holland Food</title>
  </head>

  <body>
    <!-- Sidebar -->
    <div class="container-fluid">
      <div class="row">
        <!--1st column-->
        <div class="sideBar col-auto col-md-2 px-sm-2 px-0">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
            <div class="mx-auto d-block pt-4">
              <img src="../../images/holland_food_icon.png" width="120px" />
            </div>
            <div
              class="sidebar-heading mx-auto d-block py-2 primary-text fs-4 fw-bold border-bottom">
              <i class="fas fa-user-secret me-2"></i>Holland Food
            </div>
            <nav>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 ps-4 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item mt-3">
                  <a href="admin_viewTable.html" class="nav-link">
                    <div class="navList">
                      <i class="navIcon fs-4 bi-table text-black"></i>
                      <span class="ms-1 d-none d-sm-inline text-black">Table</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="admin_menu.html" class="nav-link">
                    <div class="navList">
                      <i class="navIcon fs-4 bi-menu-button-wide"></i>
                      <span class="ms-1 d-none d-sm-inline">Menu</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="admin_manageUserAcc.html" class="nav-link">
                    <div class="navList">
                      <i class="navIcon fs-4 bi-people"></i>
                      <span class="ms-1 d-none d-sm-inline">Users</span>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="admin_login.html" class="nav-link">
                    <div class="navList">
                      <i class="navIcon fs-4 bi-box-arrow-left"></i>
                      <span class="ms-1 d-none d-sm-inline">Sign out</span>
                    </div>
                  </a>
                </li>
              </ul>
            </nav>
            
          </div>
        </div>
        <!-- sidebar end -->

         <!--2nd column Table-->
        <div class="adminBg col-md-7 ">

          <div class="dateTime">
            <input
            type="datetime-local" 
            id="datetime" 
            name="datetime"
            class="form-control"
            />
          </div>
          
        </div>



        <!--3rd Column-->
        <div class="sideBar col-md-3">
          <div class="row border-bottom">
            <div class="col reservation align-items-center">
              RESERVATION
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-9-circle-fill mb-2" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.223 4.146c2.104 0 3.123-1.464 3.123-4.3 0-3.147-1.459-4.014-2.97-4.014-1.63 0-2.871 1.02-2.871 2.73 0 1.706 1.171 2.667 2.566 2.667 1.06 0 1.7-.557 1.934-1.184h.076c.047 1.67-.475 3.023-1.834 3.023-.71 0-1.149-.363-1.248-.72H5.258c.094.908.926 1.798 2.52 1.798Zm.118-3.972c.808 0 1.535-.528 1.535-1.594s-.668-1.676-1.56-1.676c-.838 0-1.517.616-1.517 1.659 0 1.072.708 1.61 1.54 1.61Z"/>
              </svg>
            </div>


            <div class="col waitlist align-items-center">
              WAITLIST <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-9-circle-fill mb-2" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-8.223 4.146c2.104 0 3.123-1.464 3.123-4.3 0-3.147-1.459-4.014-2.97-4.014-1.63 0-2.871 1.02-2.871 2.73 0 1.706 1.171 2.667 2.566 2.667 1.06 0 1.7-.557 1.934-1.184h.076c.047 1.67-.475 3.023-1.834 3.023-.71 0-1.149-.363-1.248-.72H5.258c.094.908.926 1.798 2.52 1.798Zm.118-3.972c.808 0 1.535-.528 1.535-1.594s-.668-1.676-1.56-1.676c-.838 0-1.517.616-1.517 1.659 0 1.072.708 1.61 1.54 1.61Z"/>
              </svg>
            </div>

            
          </div>

          <br>

          <div class="row ms-3 mb-4">
            <div class="search-container">
              <form action="/action_page.php">

                <div class="search">
                  <input type="search" class="search-click" name="search" placeholder="Search here..." />
                  <button class="searchIcon"><i class="bi bi-search"></i></button>
                </div>

              </form>
            </div>
          </div>

          <div class="row ms-1">
            <div><h5><strong>10.00 am</strong></h5></div>
          </div>

          <section class="cover-section container">
            <section class="section-title">
              <div class="row">
                <div class="col-sm-3">
                  <h5>T2</h5>
                </div>
                <div class="col-sm pt-3 ps-4 fw-bold">
                  Shu Ying
                </div>
                <div class="col-sm p-3">
                  2 persons
                </div>
              </div>
          </section>
          <section class="section-content hide">
            <div class="row mt-3 ms-1">
              Menu : <br>
              1. Lorem ipsum dolor sit amet<br>
              2. Lorem ipsum dolor sit amet<br>
              3. Lorem ipsum dolor sit amet<br>
              4. Lorem ipsum dolor sit amet<br>
            </div>
            <div class="row d-inline ms-5">
              <button class="button bg-danger text-white">Cancel</button>
              <button class="button bg-success text-white">Arrived</button>
            </div>
          </section>
        </section>


        <section class="cover-section container">
          <section class="section-title">
            <div class="row">
              <div class="col-sm-3">
                <h5>T2</h5>
              </div>
              <div class="col-sm pt-3 ps-4 fw-bold">
                Shu Ying
              </div>
              <div class="col-sm p-3">
                2 persons
              </div>
            </div>
        </section>
        <section class="section-content hide">
          <div class="row mt-3 ms-1">
            Menu : <br>
            1. Lorem ipsum dolor sit amet<br>
            2. Lorem ipsum dolor sit amet<br>
            3. Lorem ipsum dolor sit amet<br>
            4. Lorem ipsum dolor sit amet<br>
          </div>
          <div class="row d-inline ms-5">
            <button class="button bg-danger text-white">Cancel</button>
            <button class="button bg-success text-white">Arrived</button>
          </div>
        </section>
      </section>

      <section class="cover-section container">
        <section class="section-title">
          <div class="row">
            <div class="col-sm-3">
              <h5>T2</h5>
            </div>
            <div class="col-sm pt-3 ps-4 fw-bold">
              Shu Ying
            </div>
            <div class="col-sm p-3">
              2 persons
            </div>
          </div>
      </section>
      <section class="section-content hide">
        <div class="row mt-3 ms-1">
          Menu : <br>
          1. Lorem ipsum dolor sit amet<br>
          2. Lorem ipsum dolor sit amet<br>
          3. Lorem ipsum dolor sit amet<br>
          4. Lorem ipsum dolor sit amet<br>
        </div>
        <div class="row d-inline ms-5">
          <button class="button bg-danger text-white">Cancel</button>
          <button class="button bg-success text-white">Arrived</button>
        </div>
      </section>
    </section>



<!--
              <div class="row mt-3 ms-1">
                <div class="outer col-sm">
                  <img class="rectangle" src="../../images/rectangle_tableLabel.png">
                  <img class="T2" src="../../images/T2.png">
                </div>
                <div class="col-sm pt-3 ps-0 fw-bold">
                  Shu Ying
                </div>
                <div class="col-sm p-3">
                  2 persons
                </div>
              </div>
-->


          </div>
          

        </div>

    <!-- Include Bootstrap JavaScript plugin -->
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="../../script/adminViewTable.js"></script>

</body>
</html>
