
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS (hosted online)-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../../styles/admin_style.css" />
    <link rel="stylesheet" href="../../styles/adminViewTable_style.css" />
    <link rel="stylesheet" href="../user/user_confirmation.html" />

    <title>Admin Table</title>
  </head>

  <body>
    <div class="container-fluid vh-100">
      <div class="row">
        <!-- Sidebar -->
        <div class="sideBar col-2 col-md-3 col-xl-2 px-sm-2 px-0">
          <div
            class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
          >
            <div class="mx-auto pt-4 pe-2">
              <img
                src="../../images/holland_food_icon.png"
                class="img-fluid"
                width="120px"
              />
            </div>
            <a
              href="/"
              class="d-flex align-items-center pb-3 mb-0 mx-auto text-white text-decoration-none border-bottom"
            >
              <span class="sidebar-heading fw-bold fs-5 text-center"
                >Holland Food</span
              >
            </a>

            <ul
              class="nav nav-pills flex-column mb-sm-auto mx-auto mb-0 align-items-center align-items-sm-start"
              id="menu"
            >
              <li class="nav-item">
                <a href="admin_viewTable.html" class="nav-link">
                  <div class="navList">
                    <i
                      class="navIcon fs-4 bi-table text-center text-black text-center"
                    ></i>
                    <span
                      class="ms-1 d-none d-sm-inline text-black"
                      style="font-weight: 500"
                      >Tables</span
                    >
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin_menu.html" class="nav-link">
                  <div class="navList">
                    <i
                      class="navIcon fs-4 bi-menu-button-wide text-center text-center"
                    ></i>
                    <span class="ms-1 d-none d-sm-inline">Menu</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin_manageUserAcc.html" class="nav-link">
                  <div class="navList">
                    <i
                      class="navIcon fs-4 bi-people text-center text-center"
                    ></i>
                    <span class="ms-1 d-none d-sm-inline">Users</span>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a href="admin_login.html" class="nav-link">
                  <div class="navList">
                    <i
                      class="navIcon fs-4 bi-box-arrow-left text-center text-center"
                    ></i>
                    <span class="ms-1 d-none d-sm-inline">Sign out</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- sidebar end -->

        <!--2nd column Table-->
        <div class="container col-sm-7 col-md-7 col-7">
          <!-- search bar -->
          <form>
            <div class="search-dateTime row justify-content-center">
              <div class="col">
                <label class="label" for="date">Select Date:</label>
                <div class="input-group">
                  <input
                    type="date"
                    class="form-control input"
                    id="date"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                  />
                </div>
              </div>

              <div class="form-group col">
                <label class="label" for="time">Select Time:</label>
                <select id="time" class="form-control form-select input">
                  <option>9:00-10:00</option>
                  <option>10:00-11:00</option>
                  <option>11:00-12:00</option>
                  <option>12:00-13:00</option>
                  <option>13:00-14:00</option>
                  <option>14:00-15:00</option>
                </select>
              </div>

              <!-- <div class="form-group col-lg-2 col-sm-2 col-md-2 col-2 text-center  ">
                <button id="searchBtn" class="rounded-pill button-shape mt-4" type="submit">Search</button>
                </div>   -->
            </div>
          </form>

          <!-- <div class="dateTime col-lg-3 col-sm-3 col-md-3 col-3 ">
            <input
            type="datetime-local" 
            id="datetime" 
            name="datetime"
            class="form-control"
            />
          </div> -->

          <!--
          <div class="row">
            <div class="table">
              <div class="table_NUM">T1</div>
            </div>
            
          </div>
-->

          <div class="table-container">
            <div class="table checkedIn" id="t1">T1</div>
            <div class="table reserved" id="t2">T2</div>
            <div class="table" id="t3">T3</div>
            <div class="table" id="t4">T4</div>
            <div class="table" id="t5">T5</div>
            <div class="table checkedIn" id="t6">T6</div>
            <div class="table reserved" id="t7">T7</div>
            <div class="table" id="t8">T8</div>
            <div class="table" id="t9">T9</div>

            <!-- Table label -->
            <div class="col-11 col-lg-11 mt-5 pt-5">
              <div class="row">
                <div class="col-md-4 col-lg-3 justify-content-center">
                  <div class="square rounded table-label-free"></div>
                  <span class="table-label ms-1">Free :</span>
                </div>

                <div class="col-md-4 col-lg-3 justify-content-center">
                  <div class="square rounded table-label-reserved"></div>
                  <span class="table-label ms-1">Reserved :</span>
                </div>

                <div class="col-md-4 col-lg-3 justify-content-center">
                  <div class="square rounded table-label-checkedIn"></div>
                  <span class="table-label ms-1">Checked-in :</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--3rd Column-->
        <!--arrow icon when screen size become small-->
        <div class="sidebar col-2">
          <button class="sidebar-toggle toggle-button">
            <i class="slideOutIcon fs-4 bi-caret-left-fill"></i>
            <span class="reserve-wait-count"></span>
          </button>
        </div>

        <div class="container-fluid rightBar col-md-3 col-sm-3 col-3">
          <div class="row flex-row border-bottom">
            <div class="col reservation selectedReservation align-items-center">
              RESERVATION
              <span class="reserve-count"></span>
            </div>

            <div class="col waitlist align-items-center">
              WAITLIST
              <span class="wait-count"></span>
            </div>
          </div>

          <br />

          <div class="row mb-4">
            <div class="search-container">
              <form action="/action_page.php">
                <div class="search">
                  <input
                    type="search"
                    class="form-control search-click input"
                    name="search"
                    placeholder="Search here..."
                  />
                  <button class="searchIcon">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <div class="row ms-1">
            <div>
              <h5><strong>10.00 am</strong></h5>
            </div>
          </div>

          <!--Reservation tab-->
          <div id="reserve" class="reserveWaitTab">
            <section class="cover-section container">
              <section class="section-title">
                <div class="row">
                  <div class="tableNo col-sm">
                    <h5>T1</h5>
                  </div>
                  <div class="col-sm pt-3 ps-4 fw-bold">Shu Ying</div>
                  <div class="noOfPax col-sm p-3">2 persons</div>
                </div>
              </section>
              <section class="section-content hide">
                <div class="row mt-1 ms-2">
                  Pre-ordered Items : <br />
                  <ol class="preordered">
                    <li>Spaghetti Bolognese</li>
                    <li>Tiramisu</li>
                    <li>Milk</li>
                    <li>Chocolate Cake</li>
                  </ol>
                </div>
                <div>
                  <a href="#" class="viewDetails_link" data-bs-toggle="modal" data-bs-target="#exampleModal">view details</a>
                </div>
      

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">User Reservation Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="ms-3"  style="display: inline-block;">
                          <p class=""><strong>Holland Food</strong></br><small class="location" id="location">Kolej Kediaman Kinabalu, University of Malaya</small></p>
                      </div>
                      <div class="ms-3"  style="display: block;">
                        <p class=""><strong>Shu Ying</strong></br></p>
                    </div>
                      <div class="row ms-3 mt-lg-3 mt-md-2 mt-sm-1">
                        <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                            <div class="" style="display: inline-block;">
                                <span><i class="bi bi-calendar-fill icon"></i></span>
                            </div>
                            <div class="ms-3"  style="display: inline-block;">
                                <p class=""><strong>Date:</strong></br><small class="date" id="date">21 - 04 - 2023</small></p>
                            </div>
                        </div>
        
                        <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                            <div class="" style="display: inline-block;">
                                <span><i class="bi bi-clock-fill icon"></i></span>
                            </div>
                            <div class="ms-3"  style="display: inline-block;">
                                <p class=""><strong>Time:</strong></br><small class="time" id="time">8:00am - 9:00am</small></p>
                            </div>
                        </div>

                        <div class="row ms-3 mt-lg-3 mt-md-2 mt-sm-1">
                          <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                              <!-- <div class="" style="display: inline-block;">
                                  <span><i class="icon" ><img src="../../images/coffee-table 1.png" width="35px"> </i></span>
                              </div> -->
                              <div class="tableNo ms-0"  style="display: inline-block;">
                                  <p class=""><strong>Table No:</strong><small> 1</small></p>
                              </div>
                          </div>
          
                          <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                              <!-- <div class="" style="display: inline-block;">
                                  <span><i class="bi bi-person-fill icon"></i></span>
                              </div> -->
                              <div class=""  style="display: inline-block;">
                                  <p class=""><strong>No of Pax:</strong><small class="noOfPax"> 2</small></p>
                              </div>
                          </div>

                          <div class="row  mt-lg-3 mt-md-2 mt-sm-1">
                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                                <!-- <div class="" style="display: inline-block;">
                                    <span><i class="icon" ><img src="../../images/eating-utensils 1.png" width="35px"> </i></span>
                                </div> -->
                                <div class=""  style="display: inline-block;">
                                    <p class="strong"><strong>Ordered Food:</strong></p>
                                </div>
            
                                <div class="rounded  justify-content-center me-lg-2 me-md-2 me-sm-0 div-border">
                                    <!-- ordered food -->
                                    <div class="justify-content-center px-2">   
                                        <!-- <div class="ms-3" style="display: inline-block;">
                                            <span><i class="icon" ><img src="/HollandFood/images/spaghetti_icon.png" width="40 px"></i> </span>
                                        </div> -->
                                        <div class="ms-2 mt-1"  style="display: inline-block;">
                                            <p class="h6 ordered-food"><strong>Spaghetti</strong><br><small> x 1</small></p>
                                        </div>
                                        <hr class="line-break">
                                    </div>
            
                                    <div class="justify-content-center px-2">
                                        <!-- <div class="ms-3" style="display: inline-block;">
                                            <span><i class="icon" ><img src="/HollandFood/images/spaghetti_icon.png" width="40 px"></i> </span>
                                        </div> -->
                                        <div class="ms-2 mt-1"  style="display: inline-block;">
                                            <p class="h6 ordered-food"><strong>Tiramisu</strong><br><small> x 1</small></p>
                                        </div>
                                        <hr class="line-break">
                                    </div>
            
                                    <div class="justify-content-center px-2">
                                        <!-- <div class="ms-3" style="display: inline-block;">
                                            <span><i class="icon" ><img src="/HollandFood/images/spaghetti_icon.png" width="40 px"></i> </span>
                                        </div> -->
                                        <div class="ms-2 mt-1"  style="display: inline-block;">
                                            <p class="h6 ordered-food"><strong>Milk</strong><br><small> x 1</small></p>
                                        </div>
                                        <hr class="line-break">
                                    </div>
            
                                    <div class="justify-content-center px-2">
                                        <!-- <div class="ms-3" style="display: inline-block;">
                                            <span><i class="icon" ><img src="/HollandFood/images/spaghetti_icon.png" width="40 px"></i> </span>
                                        </div> -->
                                        <div class="ms-2 mt-1"  style="display: inline-block;">
                                            <p class="h6 ordered-food"><strong>Chocolate Cake</strong><br><small> x 1</small></p>
                                        </div>
                                        <hr class="line-break">
                                    </div>               
                                </div>
                            </div>
            
                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center mt-2 mt-sm-2 mt-md-0 mt-lg-0">
                                <!-- <div class="" style="display: inline-block;">
                                    <span><i class="icon" ><img src="../../images/note.png" width="25px"></i></span>
                                </div> -->
                                <div class="note ms-3" style="display: inline-block;">
                                    <div class=""><strong>Note: </strong>...</div>
                                </div>
                      
                            </div>
            
                        </div>
                      </div>
                    </div>
                    </div>
                     
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center e ms-5">
                  <button class="button bg-danger text-white">Cancel</button>
                  <button class="button bg-success text-white">Arrived</button>
                </div>
              </section>
            </section>

            <section class="cover-section container">
              <section class="section-title">
                <div class="row">
                  <div class="col-sm">
                    <h5>T2</h5>
                  </div>
                  <div class="col-sm pt-3 ps-4 fw-bold">Shu Ying</div>
                  <div class="col-sm p-3">5 persons</div>
                </div>
              </section>
              <section class="section-content hide">
                <div class="row mt-1 ms-2">
                  Pre-ordered Items : <br />
                  <ol class="preordered">
                    <li>Milk</li>
                    <li>Tea</li>
                  </ol>
                </div>
                <div>
                  <a href="#" class="viewDetails_link" data-bs-toggle="modal" data-bs-target="#example_Modal">view details</a>
                </div>
                
                <!-- Modal -->
                <div class="modal fade" id="example_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">User Reservation Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="ms-3"  style="display: inline-block;">
                          <p class=""><strong>Holland Food</strong></br><small class="location" id="location">Kolej Kediaman Kinabalu, University of Malaya</small></p>
                      </div>
                      <div class="ms-3"  style="display: block;">
                        <p class=""><strong>Shu Ying</strong></br></p>
                     </div>
                      <div class="row ms-3 mt-lg-3 mt-md-2 mt-sm-1">
                        <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                            <div class="" style="display: inline-block;">
                                <span><i class="bi bi-calendar-fill icon"></i></span>
                            </div>
                            <div class="ms-3"  style="display: inline-block;">
                                <p class=""><strong>Date:</strong></br><small class="date" id="date">21 - 04 - 2023</small></p>
                            </div>
                        </div>
        
                        <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                            <div class="" style="display: inline-block;">
                                <span><i class="bi bi-clock-fill icon"></i></span>
                            </div>
                            <div class="ms-3"  style="display: inline-block;">
                                <p class=""><strong>Time:</strong></br><small class="time" id="time">8:00am - 9:00am</small></p>
                            </div>
                        </div>

                        <div class="row ms-3 mt-lg-3 mt-md-2 mt-sm-1">
                          <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                              <!-- <div class="" style="display: inline-block;">
                                  <span><i class="icon" ><img src="../../images/coffee-table 1.png" width="35px"> </i></span>
                              </div> -->
                              <div class="tableNo ms-0"  style="display: inline-block;">
                                  <p class=""><strong>Table No:</strong><small> 2</small></p>
                              </div>
                          </div>
          
                          <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                              <!-- <div class="" style="display: inline-block;">
                                  <span><i class="bi bi-person-fill icon"></i></span>
                              </div> -->
                              <div class=""  style="display: inline-block;">
                                  <p class=""><strong>No of Pax:</strong><small class="noOfPax"> 5</small></p>
                              </div>
                          </div>

                          <div class="row  mt-lg-3 mt-md-2 mt-sm-1">
                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center ">
                                <!-- <div class="" style="display: inline-block;">
                                    <span><i class="icon" ><img src="../../images/eating-utensils 1.png" width="35px"> </i></span>
                                </div> -->
                                <div class=""  style="display: inline-block;">
                                    <p class="strong"><strong>Ordered Food:</strong></p>
                                </div>
            
                                <div class="rounded  justify-content-center me-lg-2 me-md-2 me-sm-0 div-border">
                                    <!-- ordered food -->
                                    <div class="justify-content-center px-2">   
                                        <!-- <div class="ms-3" style="display: inline-block;">
                                            <span><i class="icon" ><img src="/HollandFood/images/spaghetti_icon.png" width="40 px"></i> </span>
                                        </div> -->
                                        <div class="ms-2 mt-1"  style="display: inline-block;">
                                            <p class="h6 ordered-food"><strong>Milk</strong><br><small> x 1</small></p>
                                        </div>
                                        <hr class="line-break">
                                    </div>
            
                                    <div class="justify-content-center px-2">
                                        <!-- <div class="ms-3" style="display: inline-block;">
                                            <span><i class="icon" ><img src="/HollandFood/images/spaghetti_icon.png" width="40 px"></i> </span>
                                        </div> -->
                                        <div class="ms-2 mt-1"  style="display: inline-block;">
                                            <p class="h6 ordered-food"><strong>Tea</strong><br><small> x 1</small></p>
                                        </div>
                                        <hr class="line-break">
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-8 col-sm-8 col-md-6 col-lg-6 justify-content-center mt-2 mt-sm-2 mt-md-0 mt-lg-0">
                                <!-- <div class="" style="display: inline-block;">
                                    <span><i class="icon" ><img src="../../images/note.png" width="25px"></i></span>
                                </div> -->
                                <div class="note ms-3" style="display: inline-block;">
                                    <div class=""><strong>Note: </strong>...</div>
                                </div>
                      
                            </div>
            
                        </div>
                      </div>
                    </div>
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="row d-flex justify-content-center ms-5">
                  <button class="button bg-danger text-white">Cancel</button>
                  <button class="button bg-success text-white">Arrived</button>
                </div>
              </section>
            </section>
          </div>

          <!-- <div>
            <div class="modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">User Reservation Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="col-sm">
                      <h5>T1</h5>
                    </div>
                    <div class="col-sm pt-3 ps-4 fw-bold">Shu Ying</div>
                    <div class="col-sm p-3">2 persons</div>
                  </div>
                </section>
                <section class="section-content hide">
                  <div class="row mt-1 ms-2">
                    Pre-ordered Items : <br />
                    <ol class="preordered">
                      <li>Spaghetti Bolognese</li>
                      <li>Tiramisu</li>
                      <li>Milk</li>
                      <li>Chocolate Cake</li>
                    </ol>
                  </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
                   -->




          <!--view details Modal-->
        <!-- <div class="container mt-5">
          <div class="modal" id="view-details-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">User Reservation Details</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                  ></button>
                </div>

                <div class="modal-body">
                  <form class="form">
                    <div class="row">
                      <div class="tableNo">
                        <h5>T2</h5>
                      </div>
                      <div class="form-group col-lg-6 col-sm-12 mb-3">
                        <label class="form-label text-black" for="location"
                          >Location</label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          id="location"                          
                        />
                      </div>

                      <div class="form-group col-lg-6 col-sm-12 mb-3">
                        <label class="form-label text-black" for="date"
                          >Date</label
                        >
                        <input
                          type="date"
                          class="form-control input"
                          id="date"                          
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-sm-12 mb-3">
                        <label class="form-label text-black" for="time"
                          >Time</label
                        >
                        <div class="input-group">
                          <input
                            type="time"
                            class="form-control input"
                            id="time"                            
                          />
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-6 col-sm-12 mb-3">
                          <label class="form-label text-black" for="tableNo"
                            >Table No : </label
                          >
                          <div class="input-group">
                            <input
                              type="text"
                              class="form-control input"
                              id="tableNo"           
                            />
                          </div>
                        </div>
                      `
                    </div>
                    <div class="row">
                      <div class="form-group mb-3">
                        <label
                          class="form-label required text-black"
                          for="noOfPax"
                          >No of Pax : r</label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          id="noOfPax"
                        />
                      </div>

                      <div class="form-group mb-3">
                        <label
                          class="form-label required text-black"
                          for="ordered-Food"
                          >Ordered Food : </label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          id="ordered-Food"                        />
                      </div>

                      <div class="form-group mb-3">
                        <label
                          class="form-label required text-black"
                          for="note"
                          >Note : </label
                        >
                        <input
                          type="text"
                          class="form-control input"
                          id="note"                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div> -->
                
                 
          <!--Waitlist tab-->
          <div id="waitList" class="reserveWaitTab" style="display: none">
            <section class="cover-section container">
              <section class="section-title">
                <div class="row">
                  <div class="col-sm">
                    <h5>T1</h5>
                  </div>
                  <div class="col-sm pt-3 ps-4 fw-bold">Jaslene</div>
                  <div class="col-sm p-3">2 persons</div>
                </div>
              </section>
              <section class="section-content hide">
                <div class="row mt-1 ms-2">
                  Pre-ordered Items : <br />
                  <ol>
                    <li>Spaghetti Bolognese</li>
                    <li>Spaghetti Bolognese</li>
                    <li>Spaghetti Bolognese</li>
                  </ol>
                </div>
                <div class="row d-flex justify-content-center ms-5">
                  <button class="button bg-danger text-white">Decline</button>
                  <button class="button bg-success text-white">Accept</button>
                </div>
              </section>
            </section>

            <section class="cover-section container">
              <section class="section-title">
                <div class="row">
                  <div class="col-sm">
                    <h5>T2</h5>
                  </div>
                  <div class="col-sm pt-3 ps-4 fw-bold">Jaslene</div>
                  <div class="col-sm p-3">5 persons</div>
                </div>
              </section>
              <section class="section-content hide">
                <div class="row mt-1 ms-2">
                  Pre-ordered Items : <br />
                  <ol>
                    <li>Coffee</li>
                  </ol>
                </div>
                <div class="row d-flex justify-content-center ms-5">
                  <button class="button bg-danger text-white">Decline</button>
                  <button class="button bg-success text-white">Accept</button>
                </div>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- Include Bootstrap JavaScript plugin -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="../../script/adminViewTable.js"></script>
  </body>
</html>
