.hide{
  display: none;
}

.cover-section{
  margin: 0;
  transition:1s;
}


.cover-customer, .cover-section:hover{
  padding: 10px 0px 0px 20px;
  background: #CEE2F3;
  border-radius: 20px;
}

.section-title h5{
  background-color: #7994F5;
  border-radius: 20px;
  text-align: center;
  line-height: 55px;
  color: white ;
  font-size: 1.4rem;
  font-weight: 500;
}

.search{
  position: relative;
  align-items: center;
}

.form-control.search-click {
  outline: none;
  border-radius: 55px;
  border: 2px solid #7994F5;
  width: 100%;
  width: 300px;
  height: 5px;
  margin: auto;
  padding: 22px;
}

.form-control {
  border-radius: 55px;
  border: 2px solid #7994F5;
}

.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .searchIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.reservation, .waitlist{
  background-color: white;
  color: #7994F5;
  height: 50px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
}

.selectedReservation, .selectedWaitlist{
  background-color: white;
  color: #000F45;
  height: 50px;
  font-weight: 600;
  text-align: center;
  padding: 12px 0;
  cursor: pointer;
}

.reservation:hover, .waitlist:hover{
  color: #000F45;
  cursor: pointer;
}

.search-dateTime{
  float: right;
  margin: 30px 30px 0px 25px;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.row {
  white-space: nowrap;
}

.col-sm {
  display: inline-block;
  width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}


/*slide out right bar when screen size become smaller*/
.slideOutIcon{
  background-color: #91A5EB;
  color: #000F45;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #EAF9FF;
  color: #000F45;
  transition: right 0.5s ease-in-out;
}

.sidebar-toggle {
  display: none;
  position: absolute;
  top: 30px;
  left: -32px;
  width: 30px;
  height: 200px;
  border-radius: 30px 0 0 30px;
  background-color: #91A5EB;
  color: #000F45;
  border: none;
  outline: none;
  cursor: pointer;
  transition: left 0.5s ease-in-out;
}

.sidebar-open {
  right: 0;
}

.sidebar-toggle-open {
  left: 250px;
}

.reserve-wait-count{
  position: absolute;
  right: 20px;
  top: 35px;
  border-radius: 100%;
  background-color: red;
  width: 25px;
  height: 25px;
  color: white;
}

.reserve-count, .wait-count{
  position: absolute;
  font-size: small;
  margin-left: 5px;
  top: 15px;
  border-radius: 100%;
  background-color: #FFC245;
  width: 20px;
  height: 20px;
  color: white;
}


@media (max-width: 1200px) {
  .parent{
    position: relative;
  }

  .rightBar{
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    transition: right 0.5s ease-in-out;
  }

  .sidebar-toggle{
    display: block;
    transition: left 0.5s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .sidebar{
    display: none;
  }
  
}

@media (max-width: 600px) {
  .section-title .col-sm {
    display: inline-block;
    align-items: center;
  }

  .section-title{
    font-size: 0.9rem;
  }

}

/*
.table{
  background-color: #EAF9FF;
  width: 200px;
  height: 100px;
  border-radius: 30px;
  margin:120px 20px 20px 25px;
}

.table .table_NUM{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 75px;
}
*/

.table-container {
  max-width: 600px;
  margin: 150px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100px;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  border: 10px solid #54CA94;
  color: #000F45;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}

.table#t1,.table#t6,.table#t8{
  width: 200px;
}

.table#t3,.table#t5,.table#t7{
  width: 150px;
}

.table.checkedIn {
  border: 10px solid #EC7905;
}

.table.reserved {
  border: 10px solid #FFC145;
}

.table-label{
  font-size: 11px; 
  display: inline-block; 
  color: white;
}

.table-label-free{
  width: 20px;
  height: 20px;
  background-color: #54CA94;
  display: inline-block;
}

.table-label-reserved{
  width: 20px;
  height: 20px;
  background-color:#FFC145;
  display: inline-block;
}

.table-label-checkedIn{
  width: 20px;
  height: 20px;
  background-color: #EC7905;
  display: inline-block;
}

                    
#reserve button, #waitList button{
  text-align: center;
  border-radius: 10px;
  border:none;
  margin: 10px 3px;
  margin-bottom: 15px;
  padding: 5px 70px 5px 15px;
}



#viewAllDetails {
  font-size: 15px;
  color: #7994F5;
  font-style: italic;
  cursor: pointer;
}

.bi-chevron-right{
  font-size: small;
  font-style: italic;
}

.modal-header {
  background: #7994F5;
  color: #fff;
}

.note-container{
  border: 1px solid #91A5EB;
  width: 30x;
  height: 100px;
  overflow-y: auto;
}

.orderedFood-container{
  border: 1px solid #91A5EB;
  width: 30x;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.line-break{
  color: #91A5EB;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
}

/* for custom scrollbar for body of webkit browser*/
.orderedFood-container::-webkit-scrollbar {
  width: 5px;
} 
.orderedFood-container::-webkit-scrollbar-track {
  background-color:  #EAF9FF;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  border-radius: 100px;
}
.orderedFood-container::-webkit-scrollbar-thumb {
  background-color: #91A5EB;
  border-radius: 100px;
}

.icon {
  color: #7994F5;
}

.searchBtn{
  background-color: #7994F5;
  color: #fff;
  height: 40px;
  width: 80px;
}