@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*set font style*/
*{
  font-family: 'Montserrat', sans-serif;
}

.navList {
  color: #7994F5;
}

.navIcon{
  background-color: transparent;
}

.navList:hover {
  color: #000F45;
}

nav ul .active{
  color: #000F45;
}

.sideBar {
  background-color: #EAF9FF;
}

.rightBar {
  background-color: #EAF9FF;
}

.sidebar-heading {
  color: #000F45;
}

body {
  background-color: #000F45;
  display: flex;
}

.btn-admin {
  color: #000F45;
  background-color: #EAF9FF;
  border-color: #EAF9FF
}

.sidebar-heading {
  color: #000F45;
}

.container {
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  display: flex;
  border: 2px solid red;
}

div .addBtn {
  color: #EAF9FF;
  font-size: 60px;
  background: transparent;
  justify-content: flex-end;
  float: right;
  margin: 15px 20px;
  display: flex;
}

.outer{
  position: relative;
  margin-top: 10px;
}

.rectangle{
  position: absolute;
  width: 50px;
}

.T2{
  position: absolute;
  width: 25px;
  top: 0;
  left: 0;
  margin-top: 18px;
  margin-left: 25px;
}

.button{
  width: 80px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}