.hide{
  display: none;
}

.cover-section{
  margin: 15px 0;
  transition:1s;
}

.cover-customer, .cover-section:hover{
  padding: 15px 0px 5px 20px;
  background: #CEE2F3;
  border-radius: 20px;
}

.section-title h5{
  background-color: #7994F5;
  border-radius: 20px;
  text-align: center;
  line-height: 55px;
  color: white ;
  font-size: 1.4rem;
  font-weight: 500;
}

.search .search-click {
  outline: none;
  border-radius: 55px;
  border: 2px solid #7994F5;
  width: 300px;
  height: 5px;
  margin: 10px 0;
  padding: 22px;
}

.searchIcon {
  margin-left: -50px;
  background-color: transparent;
}

.reservation, .waitlist{
  background-color: white;
  color: #7994F5;
  height: 50px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
}

.selectedReservation, .selectedWaitlist{
  background-color: white;
  color: #000F45;
  height: 50px;
  font-weight: 500;
  text-align: center;
  padding: 12px 0;
}

.reservation:hover, .waitlist:hover{
  color: #000F45;
}

.dateTime{
  float: right;
  width: 250px;
  margin: 25px 25px;
  color: white;
}