@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/*set font style*/
*{
  font-family: 'Montserrat', sans-serif;
}

.navList {
  color: #7994F5;
}

.navIcon{
  background-color: transparent;
}

.navList:hover {
  color: #000F45;
}

nav ul .active{
  color: #000F45;
}

.sideBar {
  background-color: #EAF9FF;
}

.sidebar-heading {
  color: #000F45;
}

.adminBg {
  background-color: #000F45;
}

.btn-admin {
  color: #000F45;
  background-color: #EAF9FF;
  border-color: #EAF9FF
}

.sidebar-heading {
  color: #000F45;
}

.menu_con{
  background: #A2B3BC;
  width: 120px;
  border-radius: 20px;
  transition: 1s;
  padding: 0 20px;
  margin: 15px 15px;
}

.menu_con:hover{
  transform: scale(1.1);
  background: #91A5EB;
  color:#EAF9FF;
  box-shadow: 2px 2px 2px #EAF9FF;
}

.showMore{
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 3px 0 0 0;
  margin: 10px auto;
}

i{
  background-color: #FFFFFF;
  border-radius: 50px;
  align-items: center;
  width: 100px;
}

.menu-item{
  position: relative;
}

.menu-item img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 160px;
  margin-left: 16px;
  margin-top: 20px;
}

.menu-item-desc{
  position: relative;
  z-index: 1;
  margin-top: 100px;
  padding-top: 130px;
}

.border_menu{
  position: relative;
  height: 240px;
  width: 190px;
  background-color: #EAF9FF;
  top: 20;
  border-radius: 20px;
  margin-bottom: 20px;

}

.border_menu:hover{
  color: #EAF9FF;
  background: #7994F5;
  box-shadow: 0 0 10px #7994F5, 0 0 10px #7994F5, 0 0 40px #7994F5;
}

.add_icon{
  color: white;
  padding-left: 930px;
}

.container {
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
  display: flex;
}

div .addBtn {
  color: #EAF9FF;
  font-size: 60px;
  background: transparent;
  justify-content: flex-end;
  float: right;
  margin: 15px 20px;
  display: flex;
}



.searchIcon{
  border-style: none;
  background-color: #EAF9FF;

}

.outer{
  position: relative;
  margin-top: 10px;
}

.rectangle{
  position: absolute;
  width: 50px;
}

.T2{
  position: absolute;
  width: 25px;
  top: 0;
  left: 0;
  margin-top: 18px;
  margin-left: 25px;
}

.button{
  width: 80px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 15px;
}
