.menu-category-container {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-left: 70px;
}

.menu-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu-card {
  flex-basis: 10px;
  margin: 20px;
}

@media (max-width: 1000px) {
  .menu-card {
    flex-basis: calc(33.33%);
  }
}



.menu{
  background: #A2B3BC;
  flex: 0 0 auto; /* Disable flex-grow and flex-shrink */
  width: 120px; /* Set a fixed width for each item */
  border-radius: 20px;
  transition: 1s;
  padding: 0 20px;
  margin: 15px 15px;
  text-align: center;
  justify-content: center;
}

.menu:hover{
  transform: scale(1.1);
  background: #91A5EB;
  color:#EAF9FF;
  box-shadow: 2px 2px 2px #EAF9FF;
}

.showMore{
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px; 
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 3px 0 0 0;
  margin: 10px auto;
}

i{
  background-color: #FFFFFF;
  border-radius: 50px;
  align-items: center;
  width: 100px;
}

.menu-item{
  position: relative;

}

.menu-item img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 160px;
  margin-left: 16px;
  margin-top: 20px;
}

.menu-item-desc{
  position: relative;
  z-index: 1;
  margin-top: 100px;
  padding-top: 130px;
}

.border_menu{
  position: relative;
  height: 240px;
  width: 190px;
  background-color: #EAF9FF;
  top: 20;
  border-radius: 20px;
  margin-bottom: 20px;

}

.border_menu:hover{
  color: #EAF9FF;
  background: #7994F5;
  box-shadow: 0 0 10px #7994F5, 0 0 10px #7994F5, 0 0 40px #7994F5;
}


.modal-header {
  background: #7994F5;
  color: #fff;
}

.required:after {
  content: "*";
  color: red;
}

.editBtn, .deleteBtn{
  cursor: pointer;
}

.primary-btn:hover {
  color: white;
  background-color: #000F45;
}

.primary-btn{
  color: white;
  background-color: #445FBB;
  
}

.secondary-btn:hover {
  background-color: #EAF9FF;
}

.secondary-btn{
  color: #445FBB;
  border: 1px solid #445FBB;
  background-color: transparent;
}



div .addBtn {
  color: #EAF9FF;
  height: 60px;
  width: 60px;
  font-size: 60px;
  background: transparent;
  justify-content: center;
  float: right;
  margin: 15px 20px;
  display: flex;
  transition: box-shadow .3s;
}

.addBtn:hover{
  box-shadow: 0px 0px 10px 1px white;
  cursor: pointer;
}