* {
    font-family: 'Montserrat';
}

body {
    background-color: #130D25;
    padding-bottom: 20px;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
    color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
    background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    padding: 10px 0px 0px 0px;
    margin: 20px;
    text-shadow: 1px 1px 8px white;

}

.navbar-light .navbar-brand {
    color: white;
    font-size: 20px;
    padding: 0px 35px 0px 10px;
    text-shadow: 1px 1px 8px white;

}

.nav-link {
    position: relative;
}

.nav-link-underline::after {
    content: "";
    position: absolute;
    background-color: #FE724C;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.nav-link-underline:hover::after {
    width: 100%;
}


html {
    height: 100%
}

h2 {
    color: #2F8D46;
}

#form {
    text-align: center;
    position: relative;
    margin-top: 20px
}


.finish {
    text-align: center
}




#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #fe724c
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}


#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #fe724c
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #fe724c
}

.icon {
    font-size: 1.7rem;
    /* Change this value to adjust the size */
    color: #fe724c;
}

.ordered-food {
    font-size: 12px;
}

.line-break {
    color: #fe724c;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}

.input-border {
    border-color: #FBE2D1;
}

.div-border {
    border: 1px #FBE2D1 solid;
}

.bg-white {
    background: #ffffff;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.start-button {
    order: 1;
}

.end-button {
    order: 2;
}

.button-shape {
    border-radius: 20px;
    background-color: #fe724c;
    color: white;
    padding: 5px 20px 5px 20px;
}

.button-shape:hover {
    background-color: orangered;
}

.label {
    color: white;
}

.table-all {
    background-color: white;
    border: #fe724c solid 8px;
    height: 100px;
    cursor: pointer;

}

.button-container {
    display: flex;
    justify-content: space-between;
}


.end-button {
    margin-left: auto;
}


.available {
    border: 12px solid #54CA94;
}

.unavailable {
    border: 12px solid rgb(195, 51, 51);
}

.disabled {
    opacity: 1;
    pointer-events: none;
}

.selected {
    border: 12px solid #EC7905;
    transform: scale(1.1);
    box-shadow: 0 0 3px #FFC145, 0 0 7px #FFC145, 0 0 12px #FFC145;
}

.table-label-unavailable {
    width: 20px;
    height: 20px;
    background-color: rgb(195, 51, 51);
    display: inline-block;
}

.table-label-available {
    width: 20px;
    height: 20px;
    background-color: #54CA94;
    display: inline-block;
}
.available:hover{
    transform: scale(1.1);
}

.table-label-selected {
    width: 20px;
    height: 20px;
    background-color: #EC7905;
    display: inline-block;
}