* {
    font-family: 'Montserrat';
  }

body{
    background-color: #130D25;
    padding-bottom: 20px;
    overflow-x: hidden;
}

/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler .fa-bars {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    padding: 10px 0px 0px 0px;
    margin: 20px;
    text-shadow: 1px 1px 8px white;
  
  }
  
  .navbar-light .navbar-brand {
    color: white;
    font-size: 20px;
    padding: 0px 35px 0px 10px;
    text-shadow: 1px 1px 8px white;
  
  }
  
  .nav-link {
    position: relative;
  }
  
  .nav-link-underline::after {
    content: "";
    position: absolute;
    background-color: #FE724C;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  .nav-link-underline:hover::after {
    width: 100%;
  }


html {
    height: 100%
}
  
h2{
    color: #2F8D46;
}
#form {
    text-align: center;
    position: relative;
    margin-top: 20px
}
  

.finish {
    text-align: center
}
  


  
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}
  
#progressbar .active {
    color: #fe724c
}
  
#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33%;
    float: left;
    position: relative;
    font-weight: 400
}
  
#progressbar #step1:before {
    content: "1"
}
  
#progressbar #step2:before {
    content: "2"
}
  
#progressbar #step3:before {
    content: "3"
}
  

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}
  
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}
  
#progressbar li.active:before,
#progressbar li.active:after {
    background: #fe724c
}
  
.progress {
    height: 20px
}
  
.progress-bar {
    background-color: #fe724c
}

.icon {
    font-size: 1.7rem; /* Change this value to adjust the size */
    color: #fe724c;
  }

  .input::placeholder{
    opacity: 0.7;
    color: grey;
  }

.ordered-food{
    font-size: 12px;
}

.line-break{
    color: #fe724c;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}

.input-border{
    border-color: #FBE2D1;
}
.div-border{
    border:2px #FBE2D1 solid;
}

.bg-white{
    background: #ffffff;
}

.button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .start-button {
    order: 1;
  }
  
  .end-button {
    order: 2;
  }

.button-shape{
    border-radius: 20px;
    background-color: #fe724c;
    color: white;
    padding: 5px 20px 5px 20px;
}


.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
  position: relative;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #fe724c;
	/* padding: 15px 15px 20px 15px; */
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #fe724c;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background:orangered;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

