* {
    font-family: 'Montserrat';
  }

  * Color of the links BEFORE scroll */
  .navbar-scroll .nav-link,
  .navbar-scroll .navbar-toggler .fa-bars {
      color: #fff;
  }
  
  /* Color of the links AFTER scroll */
  .navbar-scrolled .nav-link,
  .navbar-scrolled .navbar-toggler .fa-bars {
      color: #4f4f4f;
  }
  
  /* Color of the navbar AFTER scroll */
  .navbar-scrolled {
      background-color: #fff;
  }
  
  /* An optional height of the navbar AFTER scroll */
  .navbar.navbar-scroll.navbar-scrolled {
      padding-top: 5px;
      padding-bottom: 5px;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: white;
      font-size: 18px;
      padding: 10px 0px 0px 0px;
      margin: 20px;
      text-shadow: 1px 1px 8px white;
  
  }
  
  .navbar-light .navbar-brand {
      color: white;
      font-size: 20px;
      padding: 0px 35px 0px 10px;
      text-shadow: 1px 1px 8px white;
  
  }
  
  .nav-link {
      position: relative;
  }
  
  .nav-link-underline::after {
      content: "";
      position: absolute;
      background-color: #FE724C;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: 0.3s;
  }
  
  .nav-link-underline:hover::after {
      width: 100%;
  }


.bg-img {
    height: 40vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.7);
    position: absolute;
    top: 1;
    left: 1px;
    object-position: 25% 15%; 

  }

body{
    background-color: #130D25;


}

.profile-con{
    position:absolute;
    background: transparent;
    z-index: 3;


}


.menu-item{
    position: relative;
}

.profile-con img{
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  width: 160px;
  margin-left: 16px;
  margin-top: 20px;
}




.save-btn{
    width: 100px;
    margin-left: 70px;
    color: white;
    background-color: #fe724c;
    border-color: #fe724c;
    
}

.save-btn:hover{
    color: #f83701;
    border: 1px solid;
    background-color: white;
    border-color: #fe724c;
}

.save-btn:visited{
    color: #f83701;
    border: 1px  #fe724c solid;
    background-color: white;
}

@media (max-width: 570px) {
    .save-btn{
        margin-left: 0px;
        margin-top: 30px;
        width: 80px;
    }
}

@media (max-width: 992px) {
    .save-btn{
        margin-left: none;
        width: 80px;
    }

    .save-box{
        padding-right: 30px;
    }
}

.profile-box{
    background-color:white;
    margin-top: 110px;
    border-radius: 30px;
    position:absolute;
    justify-content: center;  
    padding-bottom: 20px;
    
}




.form-box{
  position: relative;
  margin-top: 90px;
  background-color: #fff;
  
  
}

.input{
  border: 2.0px solid #FBE2D1;
}

#tick {
  color: green;
  display: none;
}

#error{
  font-size: small;
  color: red;
}

.icon{
  color: #fe724c;
}


.profile-image {
  border-radius: 50%;
  width: 170px; /* adjust the width and height to fit your layout */
  height: 170px;
}


.modal-confirm {		
	color: #636363;
	width: 325px;
	font-size: 14px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn, .modal-confirm .btn2 {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-confirm .modal-footer {
	border: none;
	text-align: center;
	border-radius: 5px;
	font-size: 13px;
}	
.modal-confirm .icon-box {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #fe724c;
	/* padding: 15px 15px 20px 15px; */
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
	font-size: 58px;
	position: relative;
	top: 3px;
}
.modal-confirm.modal-dialog {
	margin-top: 80px;
}
.modal-confirm .btn {
	color: #fff;
	border-radius: 4px;
	background: #fe724c;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
	background:orangered;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}

/* for delete modal */
.modal-confirm .icon-box2 {
	color: #fff;		
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: red;
	/* padding: 15px 15px 20px 15px; */
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.modal-confirm .icon-box2 i {
	font-size: 58px;
	position: relative;
	top: 3px;
}

.modal-confirm .btn2 {
	color: #fff;
	border-radius: 4px;
	background: red;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-confirm .btn2:hover, .modal-confirm .btn2:focus {
	background:red;
	outline: none;
}