/* Color of side NavBar List */
.navIcon, .navList {
    color: #7994F5;
  }
  
  .sideBar {
    background-color: #EAF9FF;
  }
  
  .sidebar-heading {
    color: #000F45;
  }
  
  .userSignupBg {
    background-color: grey;
  }
  
  .btn-user-signup {
    color: #FFFFFF;
    background-color: #FE724C;
    border-color: #FE724C;
  }

  .btn-user-login{
    color: #FE724C;
    background-color: #FFFFFF;
    border-color: #FE724C;
  }

    a:link {
        color: whitesmoke;
        background-color: transparent;
        text-decoration: underline;
      }
      a:visited {
        color: whitesmoke;
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: pink;
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: whitesmoke;
        background-color: transparent;
        text-decoration: underline;
      }
  