<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2: User Order Food</title>

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- external css stylesheet -->
    <link rel="stylesheet" href="/styles/user_menu.css">
    <link rel="stylesheet" href="/styles/user_progress.css">

    <!-- Include Bootsrap JavaScript plugin -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</head>
<body>
  <header class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
        <div class="container">
            <a class="navbar-brand fw-bold" href="index.html"><img src="/images/holland_food_icon.png" width="35px" />
                Holland Food</a>
            <!-- hamburger icon when screen size become small -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-stream navbar-toggler-icon"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="#home">Home</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#menu">About Us</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="#music">Menu</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link active" href="#jobs">Book Now</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="/images/profile-icon.png" width="40" height="40" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Edit Profile</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

     <!-- Progressbar -->
     <div class="container">
      <div class="row justify-content-center">
          <div class="col-11 col-sm-9 col-md-7 
              col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2 ms-5 ps-5">
              <div class="px-0 pt-2 pb-0 mb-3 ">
                  <form id="form">
                      <ul id="progressbar">
                          <li class="active" id="step1">
                              <strong>Step 1</strong>
                          </li>
                          <li class="active" id="step2"><strong>Step 2</strong></li>
                          <li class="" id="step3"><strong>Step 3</strong></li>
                          
                      </ul>                     
                  </form>
              </div>
          </div>
      </div>
  </div>

    <!-- <div class=" row row-no-gutters justify-content-center">

        <div id="leftcolumn">
            <div class="col col-lg-6 col-md-6 justify-content-center bg-light ms-5 rounded-5">
            <div class="container ms-3 mt-3">
                <div class=" justify-content-center ">
                    <div class="" style="display: inline-block;">
                        <span><i class="bi bi-geo-alt-fill icon"></i></span>
                    </div>
                    <div class=""  style="display: inline-block;">
                        <p class=""><strong>Holland Food</strong></br><small>Kolej Kediaman Kinabalu, University of Malaya</small></p>
                    </div>
    
                </div>
                
            </div>    
            </div>
            

        </div> -->

        <!-- left user info -->
        <!-- <div class="col col-lg-3 col-md-3 justify-content-center bg-light rounded-5 p-3">
            <div class="text-center justify-content-center">
                <img src="/images/profile-icon-blue.png " width="120px">
            </div>

            <div class="justify-content-center p-lg-5 p-md-3 p-sm-1" >
                <div class="form-group mt-3">
                    <label class="fw-bold" for="username">Name</label>
                    <input type="text" class="form-control input" id="username"  placeholder="John Wick">
                </div>

                <div class="form-group mt-3">
                    <label class="fw-bold" for="email">Email</label>
                    <input type="email" class="form-control input" id="email"  placeholder="example@gamil.com">
                </div>

                <div class="form-group mt-3 mb-5">
                    <label class="fw-bold" for="contactnumber">Contact Number</label>
                    <input type="text" class="form-control input" id="contactnumber"  placeholder="0123456789">
                </div>

                
            </div>

        </div>

    </div> -->

    <div class="row justify-content-center">
        <div class="leftcolumn">
          <div class="card" style="background-color: black">
            <div class="menu_con col-2 justify-content-center">
                <div class="container-fluid mt-3 p-1">
                  <img src="../../images/pizza_icon.png" class="align-items-center w-3 img-fluid rounded mx-auto d-block mb-4"/>
                  <p class="text-center fs-4 border-bottom border-3 fw-bold mb-4 pb-4">
                    Pizza
                  </p>
                  <div class="showMore"><a href="#"><i class="bi bi-caret-right text-black"></i></a></div>
                </div>
              </div>
            </div>
          
          <div id="menucard">
          <div class="card" style="height:1000px">
            <div class="row d-flex mt-5 ms-2">
            <div class="col-2 ms-5 me-4 my-3">
                <div class="menu-item container-fluid shadow-lg bg-body">
                  <img
                    src="../../images/spaghetti_icon.png"
                    class="menu-item rounded-circle shadow-lg bg-body"
                  />
                </div>
                <div class="border_menu">
                  <div class="menu-item-desc container-fluid">
                    <div class="fw-bold">Spaghetti</div>
                    <div>Tomatoes, Chicken</div>
                    <div class="price">
                      $7.29
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash ms-5"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                        />
                      </svg>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-fill ms-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-2 ms-5 me-4 my-3">
                <div class="menu-item container-fluid shadow-lg bg-body">
                  <img
                    src="../../images/spaghetti_icon.png"
                    class="menu-item rounded-circle shadow-lg bg-body"
                  />
                </div>
                <div class="border_menu">
                  <div class="menu-item-desc container-fluid">
                    <div class="fw-bold">Spaghetti</div>
                    <div>Tomatoes, Chicken</div>
                    <div class="price">
                      $7.29
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash ms-5"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                        />
                      </svg>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-fill ms-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-2 ms-5 me-4 my-3">
                <div class="menu-item container-fluid shadow-lg bg-body">
                  <img
                    src="../../images/spaghetti_icon.png"
                    class="menu-item rounded-circle shadow-lg bg-body"
                  />
                </div>
                <div class="border_menu">
                  <div class="menu-item-desc container-fluid">
                    <div class="fw-bold">Spaghetti</div>
                    <div>Tomatoes, Chicken</div>
                    <div class="price">
                      $7.29
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash ms-5"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                        />
                      </svg>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-fill ms-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-2 ms-5 me-4 my-3">
                <div class="menu-item container-fluid shadow-lg bg-body">
                  <img
                    src="../../images/spaghetti_icon.png"
                    class="menu-item rounded-circle shadow-lg bg-body"
                  />
                </div>
                <div class="border_menu">
                  <div class="menu-item-desc container-fluid">
                    <div class="fw-bold">Spaghetti</div>
                    <div>Tomatoes, Chicken</div>
                    <div class="price">
                      $7.29
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash ms-5"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                        />
                      </svg>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-fill ms-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              
              <div class="col-2 ms-5 me-4 my-3">
                <div class="menu-item container-fluid shadow-lg bg-body">
                  <img
                    src="../../images/spaghetti_icon.png"
                    class="menu-item rounded-circle shadow-lg bg-body"
                  />
                </div>
                <div class="border_menu">
                  <div class="menu-item-desc container-fluid">
                    <div class="fw-bold">Spaghetti</div>
                    <div>Tomatoes, Chicken</div>
                    <div class="price">
                      $7.29
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash ms-5"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                        />
                        <path
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                        />
                      </svg>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-pencil-fill ms-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>            
            </div>
          </div>
          </div>
        </div>

        
        

        <div class="rightcolumn rounded-4">
            <div class="container" id="mycart">
            <h2>My Cart</h2>
            </div>
            <hr>

            <div class="col-2 ms-8 me-4 my-3">
              <div class="menucart-item container-fluid shadow-lg bg-body">
                <img
                  src="../../images/spaghetti_icon.png"
                  class="menucart-item rounded-circle shadow-lg bg-body"
                />
              </div>
              <div class="border_menucart">
                <div class="menucart-item-desc container-fluid">
                  <div class="menucart-itemname fw-bold">
                    <h1 class="foodname">
                      Pizza
                    </h1>
                    <h2 class="price">
                      RM <br>
                      53.99
                    </h2>
                  </div>

                  <footer class="content">
					
                    <span class="qt-minus">-</span>
                    <span class="qt">1</span>
                    <span class="qt-plus">+</span>

                    <div class="col  d-flex justify-content-end align-items-start">
                      <div id="remove">
                        <button class="btn" id="remove" ><i class="fa fa-trash" style="font-size: 22px;"></i></button>
                        </div>
                    </div>
                  </footer>

                </div>
              </div>
            </div>


        </div>
      
    </div>

    <div class="button-container mt-3 px-5">
      <button class="start-button button-shape">Previous</button>
      <button type="next" class="end-button button-shape">Next</button>
  </div>



</body>
</html>